<div class="navbar navbar-brand bg-dark w-100 d-flex mb-5">
  <%= link_to "Airbnb", flats_path, class: 'text-light text-decoration-none' %>
  <%= link_to "Add Flat", new_flat_path, class: 'btn btn-outline-light'  %>
</div>
